.player-size {
    height: auto;
    width: 50vw;
}
.player-box {
    display: flex;
    justify-content: center;
}
.backdrop {
    background-color:#0e0b24;
    height: 100%;
    width: 100%;
}
.text {
    color: white
}
